.dashboard-page {
    background-color: var(--main-color-light);
    position: relative;
}

.bottom-dash-page {
    padding-top: 60px;
    display: flex;
    height: 100vh;
}

@media screen and (width < 640px) {
    .bottom-dash-page {
        flex-direction: column-reverse;
    }
    .bottom-dash-page {
        height: auto;
    }
}