.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    position: relative;
    height: 100vh;
}

.hero-section h1 {
    font-size: 9.2rem;
    font-family: 'Rubik', sans-serif;
    color: white;
    color: var(--main-color-mid)
}

.hero-section img {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 10px;
}