footer {
    display: flex;
    height: 50px;
    justify-content: space-between;
    background-color: var(--bg-color-dark);
    padding: 8px;
}

.footer-links {
    display: flex;
    gap: 50px;
    align-content: center;
    margin-inline: 10px;
}

.footer-link {
    align-self: center;
}

.footer-links, .footer-links>a {
    font-size: 1.2rem;
    color: var(--main-color-light);
    cursor: pointer;
    text-decoration: none;
}

.footer-link:hover {
    color: white;
}

footer img {
    height: 100%;
}

@media screen and (width <= 455px) {
    .footer-links {
        gap: 10px;
    }
    .footer-links, .footer-links>a {
        font-size: 0.8rem;
    }
}