nav {
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color: var(--bg-color-light);
    padding: 8px;
    position: absolute;
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 50px;
    align-content: center;
    justify-content: center;
    margin-inline: 10px;
}

.nav-link {
    align-self: center;
}

.nav-links, .nav-links > a{
    font-size: 1.4rem;
    color: var(--main-color-light);
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
}

nav img {
    height: 100%;
}