nav {
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color: var(--Main2-color);
    padding: 8px;
}

.nav-links {
    display: flex;
    gap: 50px;
    align-content: center;
    margin-inline: 10px;
}

.nav-link {
    align-self: center;
}

a {
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    /* color: var(--Accent2-color); */
}

img {
    height: 100%;
}