@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Rubik:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', serif;
}

:root {
    --Accent-color-1: #984064;
    --Accent-color-2: #9A6197;
    --Accent-color-3: #8E83C0;
    
    --main-color-light: #EEFCFF;
    --main-color-mid: #90E0EF;
    --main-color-dark: #00A8CD;
    --bg-color-light: #7CC4E9;
    --bg-color-dark: #7FA5DB;
}

.home-page {
    background-color: var(--main-color-light);
}